// font
@font-face {
    font-family: "inter";
    src: url("../font/inter/Inter-VariableFont_slnt,wght.ttf");
}

// breakpoint
$breakpoint: (
    sp: 'screen and (max-width: 768px)',
    tab: 'screen and (min-width: 769px)',
    pc: 'screen and (min-width: 1025px)'
);

@mixin mq($bp) {
    @media #{map-get($breakpoint, $bp)} {
        @content;
    }
}

// color
$color-black: #222222;
$color-white: #FFF;
$color-gray: #D9D9D9;
$color-gray2: #EBEBEB;
$color-gray3: #7D7A7A;
$color-gray4: #E8E8E8;
$color-gray-lt: #FBFBFB;
$color-green: #77DD77;


$baseFontSize: 16;

@function rem($pixels) {
    @return calc($pixels / $baseFontSize * 1rem);
}

@mixin animation {
    transition: 0.3s;
}

@mixin contentWidth {
    max-width: 1100px;
    margin: 0 auto;

    @include mq(tab) {
        min-width: 960px;
    }
}
