@charset "utf-8";

@import "mixin";

// メイン
.main {

    // コンテナ
    .container {
        display: flex;

        @include mq(sp) {
            flex-direction: column;
        }

        &__body {
            flex: 1;
            border: solid 1px $color-gray2;
            padding: 20px;
            background-color: $color-gray-lt;

            h1 {
                font-size: rem(26);
                line-height: 1.5;
                margin-bottom: 30px;

                @include mq(sp) {
                    font-size: rem(20);
                    margin-bottom: 20px;
                }
            }

            .others {
                display: flex;
                justify-content: space-between;
                margin-bottom: 30px;

                .date {
                    font-size: rem(16);
                }

                .hashtags {
                    display: flex;

                    li {
                        font-size: rem(16);

                        &:not(:last-child) {
                            margin-right: 5px;
                        }

                        a {}
                    }
                }
            }

            .image {
                margin-bottom: 30px;

                @include mq(sp) {
                    margin-bottom: 15px;
                }

                img {
                    width: 100%;
                    height: 270px;
                    object-fit: cover;
                    display: block;

                    @include mq(sp) {
                        height: 170px;
                    }
                }
            }

            .text_body {
                margin-bottom: 30px;

                @include mq(sp) {
                    margin-bottom: 15px;
                }

                h2 {
                    font-size: rem(24);
                    line-height: 1.5;
                    margin-bottom: 30px;
                    padding: 20px 0;
                    border-top: solid 2px $color-black;
                    border-bottom: solid 2px $color-black;

                    @include mq(sp) {
                        line-height: 1.3;
                        font-size: rem(18);
                    }
                }

                h3 {
                    font-size: rem(18);
                    line-height: 1.5;
                    margin-bottom: 30px;
                    border-left: solid 3px $color-black;
                    padding: 10px 10px 10px 10px;
                    background: $color-gray2;
                    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

                    @include mq(sp) {
                        line-height: 1.3;
                        font-size: rem(16);
                    }

                }

                p {
                    line-height: 1.5;
                    margin-bottom: 20px;

                    @include mq(sp) {
                        line-height: 2;
                        font-size: 90%;
                        margin-bottom: 10px;
                    }
                }

                span {
                    line-height: 1.5;
                }

                hr {
                    height: 1px;
                    background-color: $color-gray;
                    margin: 30px 0;
                    margin-right: -30px;
                    margin-left: -30px;
                }

                ul {
                    list-style-type: disc;
                    padding-left: 1em;

                    li {
                        line-height: 1.5;
                        margin-bottom: 10px;

                        @include mq(sp) {
                            line-height: 2;
                            font-size: 90%;
                        }
                    }
                }

                blockquote {
                    background-color: $color-gray4;
                    padding: 15px;
                    margin-bottom: 20px;

                    p {
                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }

                .lead_s {
                    margin-bottom: 30px;

                    &>p {
                        font-size: rem(20);
                        line-height: 1.5;
                    }
                }

                .main_s {
                    &>p {
                        font-size: rem(20);
                        line-height: 1.5;
                        margin-bottom: 30px;
                    }
                }

                .table-of-contents {
                    margin-left: -30px;
                    margin-right: -30px;
                    padding: 30px;
                    margin-bottom: 50px;
                    border-top: solid 1px $color-gray;
                    border-bottom: solid 1px $color-gray;

                    span {
                        font-size: rem(20);
                        font-weight: bold;
                        margin-bottom: 10px;
                        display: block;
                    }

                    &>ol {
                        li {
                            font-size: rem(18);
                            font-weight: bold;
                        }
                    }
                }

                a {
                    &:hover {
                        text-decoration: underline;
                    }
                }

                iframe {
                    width: 100%;
                    height: 56.25%;
                }
            }
        }

        &__sub {
            width: 300px;
            margin-left: 35px;

            @include mq(sp) {
                width: 100%;
                margin-left: 0;
                margin-top: 30px;
            }

            .sticky-item {
                position: sticky;
                top: 20px;
            }

            &__category {
                .cat_title {
                    font-size: rem(18);
                    font-weight: bold;
                    display: block;
                    margin-bottom: 10px;
                }

                ul {
                    li {
                        &:not(:last-child) {
                            border-bottom: solid 1px #FFF;
                        }

                        a {
                            padding: 12px 18px;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            background-color: $color-gray4;
                            font-size: rem(16);

                            .count {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                width: 40px;
                                height: 40px;
                                color: $color-white;
                                background-color: $color-gray3;
                                font-weight: bold;
                                border-radius: 50px;
                            }
                        }
                    }
                }
            }
        }
    }
}

div#ez-toc-container {
    display: block;
    float: none;
    width: 100%;
    border-radius: 0;
    border-color: $color-gray;
    border-right: none;
    border-left: none;
    padding: 20px;
    box-shadow: none;
    background: transparent;
    margin-bottom: 70px;

    @include mq(sp) {
        padding: 15px 0;
        padding-right: 0 !important;
        margin-bottom: 30px;
    }

    .ez-toc-title-container {
        p.ez-toc-title {
            font-size: rem(20);
            font-weight: bold;
            display: block;
            margin-bottom: 10px;

            @include mq(sp) {
                font-size: rem(16);
            }
        }
    }

    a {
        font-size: rem(18);
        margin-bottom: 10px;

        @include mq(sp) {
            font-size: rem(14);
        }
    }
}
