@font-face {
  font-family: "inter";
  src: url("../font/inter/Inter-VariableFont_slnt,wght.ttf");
}
html {
  font-family: "inter";
  color: #222222;
}

ul {
  list-style: none;
}

a {
  color: #222222;
  text-decoration: none;
}

.header__inner {
  max-width: 1320px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0;
  background-color: #FBFBFB;
}
.header__inner__logo img {
  width: 126px;
  height: auto;
}
.header__inner__logo span {
  font-size: 0.875rem;
}
.header__inner__nav nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__inner__nav nav ul li:not(:last-child) {
  margin-right: 30px;
}
.header__inner__nav nav ul li a {
  font-size: 1rem;
}

.main {
  max-width: 1320px;
  margin: 0 auto;
}
.main h1 {
  padding: 30px 0;
}
.main .pickup {
  margin-bottom: 100px;
}
.main .pickup__title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 30px;
}
.main .pickup__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
}
.main .pickup__list__item {
  width: 100%;
}
.main .pickup__list__item__thumbnail {
  margin-bottom: 10px;
}
.main .pickup__list__item__thumbnail img {
  width: 100%;
  height: auto;
  display: block;
}
.main .pickup__list__item h2 {
  font-size: 1.25rem;
  font-weight: bold;
}
.main .select_category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 10px;
  border-top: solid 1px #EBEBEB;
  border-bottom: solid 1px #EBEBEB;
}
.main .select_category span {
  font-size: 1rem;
  margin-right: 40px;
  font-weight: bold;
}
.main .select_category__list {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.main .select_category__list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.main .select_category__list li:not(:last-child) {
  margin-right: 40px;
}
.main .select_category__list li a {
  font-size: 1.25rem;
  display: block;
  padding: 10px 6px;
  border-radius: 8px;
  background-color: #EBEBEB;
  font-weight: bold;
  min-width: 120px;
  text-align: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.main .select_category__list li a:hover {
  opacity: 0.6;
}
.main .select_category__list li.is-active a {
  background-color: #77DD77;
}
.main .article__list > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 70px;
  padding: 60px 15px;
  border-bottom: solid 1px #EBEBEB;
}
.main .article__list > li .text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.main .article__list > li .text__top h2 {
  font-size: 1.75rem;
  font-weight: bold;
  margin-bottom: 25px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.main .article__list > li .text__top p {
  font-size: 1.25rem;
  margin-bottom: 25px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.main .article__list > li .text__top a:hover h2,
.main .article__list > li .text__top a:hover p {
  opacity: 0.6;
}
.main .article__list > li .text__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.main .article__list > li .text__bottom .date {
  font-size: 1.25rem;
}
.main .article__list > li .text__bottom .hashtags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.main .article__list > li .text__bottom .hashtags li {
  font-size: 1.25rem;
}
.main .article__list > li .text__bottom .hashtags li:not(:last-child) {
  margin-right: 5px;
}
.main .article__list > li .thumbnail {
  width: 300px;
}
.main .article__list > li .thumbnail a {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: block;
}
.main .article__list > li .thumbnail a:hover {
  opacity: 0.6;
}
.main .article__list > li .thumbnail a img {
  width: 100%;
  height: auto;
  display: block;
}
.main .breadcrumbs__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.main .breadcrumbs__list li {
  color: #7D7A7A;
  position: relative;
  margin-right: 50px;
}
.main .breadcrumbs__list li:not(:last-child)::before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-top: solid 5px transparent;
  border-bottom: solid 5px transparent;
  border-left: solid 12px #D9D9D9;
  position: absolute;
  top: 0;
  bottom: 0;
  right: -32px;
  margin: auto;
}
.main .breadcrumbs__list li a {
  color: #7D7A7A;
  text-decoration: underline;
}
.main .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.main .container__body {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.main .container__body h1 {
  font-size: 1.75rem;
  line-height: 1.5;
}
.main .container__body .others {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}
.main .container__body .others .date {
  font-size: 1.25rem;
}
.main .container__body .others .hashtags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.main .container__body .others .hashtags li {
  font-size: 1.25rem;
}
.main .container__body .others .hashtags li:not(:last-child) {
  margin-right: 5px;
}
.main .container__body .image {
  margin-bottom: 30px;
}
.main .container__body .image img {
  width: 100%;
  height: auto;
  display: block;
}
.main .container__body .text_body {
  margin: 0 30px;
}
.main .container__body .text_body .lead_s {
  margin-bottom: 30px;
}
.main .container__body .text_body .lead_s > p {
  font-size: 1.25rem;
  line-height: 1.5;
}
.main .container__body .text_body .main_s > p {
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: 30px;
}
.main .container__body .text_body .table-of-contents {
  margin-left: -30px;
  margin-right: -30px;
  padding: 30px;
  margin-bottom: 50px;
  border-top: solid 1px #D9D9D9;
  border-bottom: solid 1px #D9D9D9;
}
.main .container__body .text_body .table-of-contents span {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 10px;
  display: block;
}
.main .container__body .text_body .table-of-contents > ol li {
  font-size: 1.125rem;
  font-weight: bold;
}
.main .container__sub {
  width: 330px;
  margin-left: 35px;
}
.main .container__sub .sticky-item {
  position: sticky;
  top: 0;
}
.main .container__sub__category .cat_title {
  font-size: 1.25rem;
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
}
.main .container__sub__category ul li:not(:last-child) {
  border-bottom: solid 1px #FFF;
}
.main .container__sub__category ul li a {
  padding: 12px 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #E8E8E8;
  font-size: 1.25rem;
}
.main .container__sub__category ul li a .count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 40px;
  color: #FFF;
  background-color: #7D7A7A;
  font-weight: bold;
  border-radius: 50px;
}/*# sourceMappingURL=style.css.map */