@font-face {
  font-family: "inter";
  src: url("../font/inter/Inter-VariableFont_slnt,wght.ttf");
}
.main {
  max-width: 100%;
  min-width: auto;
}
.main .mainVisual {
  height: 220px;
  background-image: url("../img/top/main_visual.webp");
  background-position: center 10%;
  background-size: cover;
}
@media screen and (min-width: 769px) {
  .main .mainVisual {
    min-width: 960px;
  }
}
@media screen and (max-width: 768px) {
  .main .mainVisual {
    height: 180px;
  }
}
.main .mainVisual__innerwrap {
  max-width: 1100px;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  padding: 20px 15px;
  position: relative;
}
@media screen and (min-width: 769px) {
  .main .mainVisual__innerwrap {
    min-width: 960px;
  }
}
@media screen and (max-width: 768px) {
  .main .mainVisual__innerwrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}
.main .mainVisual .concept {
  position: absolute;
  font-size: 1.875rem;
  font-weight: bold;
  line-height: 1.7;
  color: #FFF;
  text-shadow: 1px 1px 6px rgba(34, 34, 34, 0.3);
  bottom: 20px;
}
@media screen and (max-width: 768px) {
  .main .mainVisual .concept {
    position: static;
    padding: 10px;
    font-size: 0.875rem;
  }
}
.main__inner {
  margin: 0 auto;
  max-width: 1100px;
  margin: 0 auto;
  padding: 15px;
}
@media screen and (min-width: 769px) {
  .main__inner {
    min-width: 960px;
  }
}
.main__inner .pickup {
  background-color: rgba(214, 173, 112, 0.2);
  padding: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 30px;
}
.main__inner .pickup__title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .main__inner .pickup__title {
    font-size: 1.125rem;
    margin-bottom: 20px;
  }
}
.main__inner .pickup__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
}
@media screen and (max-width: 768px) {
  .main__inner .pickup__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.main__inner .pickup__list__item {
  width: 100%;
}
.main__inner .pickup__list__item__thumbnail {
  margin-bottom: 10px;
}
.main__inner .pickup__list__item__thumbnail img {
  display: block;
  width: 100%;
  height: 140px;
  -o-object-fit: cover;
     object-fit: cover;
}
.main__inner .pickup__list__item h2 {
  font-size: 1.125rem;
  font-weight: bold;
}
.main__inner .pickup__link {
  margin-top: 15px;
  display: block;
  text-align: right;
}
.main__inner .pickup__link:hover {
  text-decoration: underline;
}
.main__inner .catSection {
  padding: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 30px;
}
.main__inner .catSection__title {
  font-size: 1.875rem;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .main__inner .catSection__title {
    font-size: 1.125rem;
    margin-bottom: 20px;
  }
}
.main__inner .catSection__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
}
@media screen and (max-width: 768px) {
  .main__inner .catSection__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.main__inner .catSection__list__item {
  width: 100%;
}
.main__inner .catSection__list__item__thumbnail {
  margin-bottom: 10px;
}
.main__inner .catSection__list__item__thumbnail img {
  display: block;
  width: 100%;
  height: 140px;
  -o-object-fit: cover;
     object-fit: cover;
}
.main__inner .catSection__list__item h2 {
  font-size: 1.125rem;
  font-weight: bold;
}
.main__inner .catSection__link {
  display: block;
  margin: 30px auto 10px;
  background-color: rgba(214, 173, 112, 0.2);
  border-radius: 50px;
  width: 100%;
  max-width: 660px;
  padding: 15px;
  text-align: center;
  font-weight: bold;
}
.main__inner .catSection__link:hover {
  text-decoration: underline;
}
.main__inner .about-us {
  background-color: rgba(214, 173, 112, 0.2);
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 30px;
}
.main__inner .about-us a {
  text-align: center;
  display: block;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  padding: 30px 20px;
}
@media screen and (max-width: 768px) {
  .main__inner .about-us a {
    font-size: 1.125rem;
  }
}
.main__inner .about-us a:hover {
  text-decoration: underline;
}/*# sourceMappingURL=top.css.map */